[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GenePopStats"]
	path = GenePopStats
	url = https://github.com/cran/GenePopStats
[submodule "OpEnCAST"]
	path = OpEnCAST
	url = https://github.com/cran/OpEnCAST
